<tr>
	<td> <%= link_to event, event %></td>
	<td> <%= event.date_and_time %></td>
	<td> <%= event.description %></td>
	<td> <%= event.requirements %></td>
	<td> <%= link_to event.organization, event.organization %></td>
</tr>
