<!--Preserves sorting as well as searching-->
	<%=hidden_field_tag :direction, params[:direction]%>
	<%=hidden_field_tag :sort, params[:sort]%>
	<%=hidden_field_tag :search, params[:search]%>
	<%=hidden_field_tag :return, params[:return]%>


<h1 class="viewhead">All Events</h1>
	

<!--Toggles between list view and items view-->
<%if @return=='true'%>
	<h5 class="toggle-events view-link toggleable-events">Table View</h5>
	<h5 class="toggle-events view-link toggleable-event-list">Items View</h5>

	<div class='toggleable-events'>
		<%=render 'events/partials/eventitems'%>
	</div>

	<div class='toggleable-event-list'>
		<%=render 'events/partials/eventtable'%>
	</div>

<%else%>
	<h5 class="toggle-events view-link toggleable-event-list">Table View</h5>
	<h5 class="toggle-events view-link toggleable-events">Item View</h5>

	<div class='toggleable-event-list'>
		<%=render 'events/partials/eventitems'%>
	</div>

	<div class='toggleable-events'>
		<%=render 'events/partials/eventtable'%>
	</div>
<%end%>