<!--Preserves sorting as well as searching-->
	<%=hidden_field_tag :direction, params[:direction]%>
	<%=hidden_field_tag :sort, params[:sort]%>
	<%=hidden_field_tag :search, params[:search]%>
	


<h1 class="viewhead together">All Events </h1> 
<h4 class="tagline together"> Have some free time but don't know what to do? Sign up for an event, and join us for some fun! </h4> 
	

<!--Toggles between list view and items view-->


	
	<h5 class="toggle-events view-link toggleable-event-list viewchange"><a href="#" >Table View</a></h5>
	<h5 class="toggle-events view-link toggleable-events viewchange"><a href="#" >Item View</a></h5>


	<div class='toggleable-event-list'>
		<ul class="alleventitems transitions-enabled" id="event-box">
		
			<!--Only the most current events are displayed-->
			<%=render partial: 'events/partials/eventitems', collection: @events%>
		</ul>

		<div class="paginate">
			<%=will_paginate @events%>
		</div>
	</div>

	<div class='toggleable-events'>
		<%=render 'events/partials/eventtable'%>
	</div>
