
<h1 class="viewhead">All Events</h1>



<%if @viewer=='true' %>
	
	<%= form_tag events_path, class: 'viewchange', :method => 'get' do %>
		<%=hidden_field_tag :direction, params[:direction]%>
		<%=hidden_field_tag :sort, params[:sort]%>
		<%=hidden_field_tag :search, params[:search]%>
		<%=submit_tag "Table View", :name => nil%>
	<%end%>


	
	
	<%=render 'eventitems'%>
	

<%else%>
	
	<%= form_tag events_path, class: 'viewchange', :method => 'get' do %>
		<%=hidden_field_tag :direction, params[:direction]%>
		<%=hidden_field_tag :sort, params[:sort]%>
		<%=hidden_field_tag :search, params[:search]%>
		<%=hidden_field_tag :listview, "true"%>
		<%=submit_tag "List View", :name => nil %>
	<%end%>
	
	
	<%=render 'eventlist'%>

	

<%end%>