
<%if current_user.admin==true%>
	<%if @createdevents.size<1%>
		<%=link_to "Create New Event", new_event_path, class: 'btn'%>
		<h5>I have not yet created an event!</h5>
	<%else%>
		<h1>My Created Events</h1> <%=link_to "Create New Event", new_event_path, class: 'btn'%>
		<table>
			<tbody>
				<tr>
					<th> Name </th>
					<th> Date </th>
					<th> Description </th>
					<th> Requirements </th>
					<th> Organization </th>
					<th></th>
				</tr>
			<%= render partial: "events/partials/myevents", collection: @createdevents %>
			</tbody>
		</table>
	<%end%>
<%end%>

<%if @myevents.size<1%>
	 <%=link_to "Check out available events", root_url, class: 'btn'%>
	<h5>I do not have an event to attend yet.</h5>
<%else%>
	<h1>Events to Attend</h1>
		<table>
			<tbody>
				<tr>
					<th> Name </th>
					<th> Date </th>
					<th> Description </th>
					<th> Requirements </th>
					<th> Organization </th>
					<th></th>
				</tr>
				<%= render partial: "events/partials/myevents", collection: @myevents %>
			</tbody>
		</table>
<%end%>

<%if @pastevents.size>=1%>
	 
	<h1>Events I Attended</h1>
		<table>
			<tbody>
				<tr>
					<th> Name </th>
					<th> Date </th>
					<th> Description </th>
					<th> Requirements </th>
					<th> Organization </th>
					<th></th>
				</tr>
				<%= render partial: "events/partials/myevents", collection: @pastevents %>
			</tbody>
		</table>
<%end%>
