<%if current_user.admin==true%>
	
	<h1>My Created Events</h1>
	<%@createdevents.each do |event|%>

		<table>
			<tbody>
				<tr>
					<th> Name </th>
					<th> Date </th>
					<th> Description </th>
					<th> Requirements </th>
					<th> Organization </th>
				</tr>
		 		<tr>
					<td> <%= link_to event.name, event %></td>
					<td> <%= event.date_and_time %></td>
					<td> <%= event.description %></td>
					<td> <%= event.requirements %></td>
					<td> <%= link_to event.organization, event.organization %></td>
				</tr>

			</tbody>
		</table>
		<%= link_to "Delete Event", event, method: :delete %> |
		<%= link_to "Edit Event", edit_event_path(event)%>

	 
	<%end%>





<%end%>


	<h1>Events to Attend</h1>
	<%@myevents.each do |event|%>

		<table>
			<tbody>
				<tr>
					<th> Name </th>
					<th> Date </th>
					<th> Description </th>
					<th> Requirements </th>
					<th> Organization </th>
				</tr>
		 		<tr>
					<td> <%= link_to event.name, event %></td>
					<td> <%= event.date_and_time %></td>
					<td> <%= event.description %></td>
					<td> <%= event.requirements %></td>
					<td> <%= link_to event.organization, event.organization %></td>
				</tr>

			</tbody>
		</table>

	 
	<%end%>

