<h1 class="viewhead">Events I Plan to Attend</h1>



<!--EVENTS THE CURRENT USER PLANS TO ATTEND-->
<%if @myevents.size<1%>
	 <%=link_to "Check out available events", events_path, class: 'btn'%>
	<h5>I do not have an event to attend yet.</h5>
<%else%>
	
	<h5 class="toggle-events view-link toggleable-event-list viewchange"><a href="#" >Table View</a></h5>
	<h5 class="toggle-events view-link toggleable-events viewchange"><a href="#" >Item View</a></h5>

	
	<!--LIST VIEW-->
	<div class='toggleable-event-list'>
		<ul class="alleventitems transitions-enabled" id="event-box">
			<%=render partial: 'events/partials/eventitems', collection: @myevents%>
		</ul>
		<div class="paginate">
			<%=will_paginate @myevents%>
		</div>
	</div>
	
	<!--TABLE VIEW-->
	
		<table class="toggleable-events">
			<tbody>
				<tr>
					<th> Name </th>
					<th> Date </th>
					<th> Description </th>
					<th> Requirements </th>
					<th> Organization </th>
					<th></th>
				</tr>
				<%= render partial: "events/partials/myevents", collection: @myevents %>
			</tbody>
		</table>
		<div class="paginate toggleable-events">
			<%=will_paginate @myevents%>
		</div>
<%end%>


<!--EVENTS THE CURRENT USER ATTENDED-->
<%if @pastevents.size>=1%>
		<h1 class="viewhead">Past Events</h1>
		<table>
			<tbody>
				<tr>
					<th> Name </th>
					<th> Date </th>
					<th> Description </th>
					<th> Requirements </th>
					<th> Organization </th>
					<th></th>
				</tr>
				<%= render partial: "events/partials/myevents", collection: @pastevents %>
			</tbody>
		</table>
		<div class="paginate">
			<%=will_paginate @pastevents%>
		</div>
<%end%>

