<h1>Events</h1>

<h1><%= @event.name %></h1>


<table>
	<tbody>
		<tr>
			<th> Name </th>
			<th> Date </th>
			<th> Description </th>
			<th> Requirements </th>
			<th> Organization </th>
		</tr>
 		<tr>
			<td> <%= @event %></td>
			<td> <%= @event.date_and_time %></td>
			<td> <%= @event.description %></td>
			<td> <%= @event.requirements %></td>
			<td> <%= link_to @event.organization, @event.organization %></td>
		</tr>

	</tbody>
</table>

<%if current_user.events.include?(@event)%>
	<p>Already attending event!</p>
	<%=link_to "View my events", myevents_path%>
	<%else%>
<%=link_to "Attend event!", attendevent_path(:attend=>@event.id), data: { confirm: 'Click OK to confirm your attendance!' }%>

<%end%>



  
