<h1>Events</h1>

<h1><%= @event.name %></h1>


<table>
	<tbody>
		<tr>
			<th> Name </th>
			<th> Date </th>
			<th> Description </th>
			<th> Requirements </th>
			<th> Organization </th>
		</tr>
 		<tr>
			<td> <%= @event %></td>
			<td> <%= @event.date_and_time %></td>
			<td> <%= @event.description %></td>
			<td> <%= @event.requirements %></td>
			<td> <%= link_to @event.organization, @event.organization %></td>
		</tr>

	</tbody>
</table>

  
