<h1>Events</h1>

<h1><%= @event.name %></h1>

<p>Company: <%= @project.company.name %> </p>
<p>Default Rate: <%= @project.default_rate %> </p>
<p>Slug: <%= @project.slug %> </p>

<table>
	<tbody>
		<tr>
			<th> View </th>
			<th> User </th>
			<th> Project </th>
			<th> Date/Time Performed </th>
			<th> Hours </th>
		</tr>
 		<%= render partial: "works/work", collection: @project.works %>
	</tbody>
</table>
