<h1 class="orgtitle"><%= @organization.name%></h1>

<ul class="orgshow">
	<li> Description: <%= @organization.description %> </li>
	<li> Email: <%= @organization.email %> </li>
	<li> Phone Number: <%= @organization.phone %> </li>	
	<li> Website: <%= link_to @organization.website, "http://"+@organization.website%> </li>
</ul>

<!--The organization's current events-->
<table>
	<h4 class="tabletitle">Current Events:</h4>
	<tr>
		<th> Name </th>
		<th> Date </th>
		<th class="hidemobile"> Time </th>
		<th class="hidemobile"> Organization </th>
		
	</tr>
	<%=render partial: 'events/partials/event', collection: @currentevents %>
</table>

<%if @pastevents.size!=0%>
	<p class="toggle-events btn btn-default btntoggle">Show/Hide Past Events</p>
	<!--The organization's past events-->
	
	<table class="toggleable-events">
		<h4 class="toggleable-events tabletitle">Past Events:</h4>
		<tr>
			<th> Name </th>
			<th> Date </th>
			<th class="hidemobile"> Time </th>
			<th class="hidemobile"> Organization </th>
			
		</tr>
		<%=render partial: 'events/partials/event', collection: @pastevents %>
	</table>

<%end%>
