<h1>Organization Details</h1>

<ul>
	<li> Organization: <%= @organization.name%></li>
	<li> Website: <%= link_to @organization.website, "http://"+@organization.website %> </li>
	<li> Description: <%= @organization.description %> </li>
	<li> Email: <%= @organization.email %> </li>
	<li> Phone Number: <%= @organization.phone %> </li>	
</ul>

<!--The organization's current events-->
<ul>
	<h4>Current Events:</h4>
	<%@events.each do |event|%>
		<%if event.date_and_time>=Time.now%>
			<li> 
				<%=link_to (event) do%> 
				 <strong><%= event.name %></strong> at <%=event.date_and_time%> 
				<%end%>
			</li>
		<%end%>
	<%end%>
</ul>

<!--The organization's past events-->
<ul>
	<h4>Past Events:</h4>
	<%@events.each do |event|%>
		<%if event.date_and_time<Time.now%>
			<li> 
				<%=link_to (event) do%> 
				 <strong><%= event.name %></strong> at <%=event.date_and_time%> 
				<%end%>
			</li>
		<%end%>
	<%end%>
</ul>