<h1>Organization Details</h1>

<ul>
	
		
			<li> Organization: <%= link_to @organization.name, "http://"+@organization.website %> </li>
			<li> Description: <%= @organization.description %> </li>
			<li> Email: <%= @organization.email %> </li>
			<li> Phone Number: <%= @organization.phone %> </li>
			<li> Website: <%= @organization.website %> </li>
		
</ul>
<ul>
	<h4>Events:</h4>
	<%@events.each do |event|%>
		<li> <%=link_to (event) do%> 
			 <strong><%= event.name %></strong> 
			at <%=event.date_and_time%> </li>
		<%end%>

	<%end%>

</ul>