<h1>Organization Details</h1>

<ul>
	<li> Organization: <%= @organization.name%></li>
	<li> Website: <%= link_to @organization.website, "http://"+@organization.website %> </li>
	<li> Description: <%= @organization.description %> </li>
	<li> Email: <%= @organization.email %> </li>
	<li> Phone Number: <%= @organization.phone %> </li>	
</ul>

<!--The organization's current events-->
<table>
	<h4>Current Events:</h4>
	<tr>
		<th> Name </th>
		<th> Date </th>
		<th> Description </th>
		<th> Requirements </th>
		<th> Organization </th>
		
	</tr>
	<%=render partial: 'events/partials/event', collection: @currentevents %>
</table>

<%if @pastevents.size!=0%>
	<p class="toggle-events">Show/Hide Past Events</p>
	<!--The organization's past events-->
	
	<table class="toggleable-events">
		<h4 class="toggleable-events">Past Events:</h4>
		<tr>
			<th> Name </th>
			<th> Date </th>
			<th> Description </th>
			<th> Requirements </th>
			<th> Organization </th>
			
		</tr>
		<%=render partial: 'events/partials/event', collection: @pastevents %>
	</table>

<%end%>
