<h1>Organization Details</h1>

<ul>
	<li> Organization: <%= @organization.name%></li>
	<li> Website: <%= link_to @organization.website, "http://"+@organization.website %> </li>
	<li> Description: <%= @organization.description %> </li>
	<li> Email: <%= @organization.email %> </li>
	<li> Phone Number: <%= @organization.phone %> </li>	
</ul>

<!--The organization's current events-->
<ul>
	<h4>Current Events:</h4>
	<%=render partial: 'events/partials/event', collection: @currentevents %>
</ul>

<%if @pastevents.size!=0%>
	<p class="toggle-events">Show/Hide Past Events</p>
	<!--The organization's past events-->
	
	<ul class="toggleable-events">
		<h4>Past Events:</h4>
		<%=render partial: 'events/partials/event', collection: @pastevents %>
	</ul>

<%end%>
