<!--DISPLAY INFO FOR INDIVIDUAL EVENTS-->

<!--For Myevents and Event/Index-->
<%if controller_name == 'events'&&(action_name == 'myevents'||action_name=='index')||controller_name == 'organizations'&&action_name == 'show'%>	
	<tr>
		<td> <%= link_to event, event %></td>
		<td> <%= event.date_and_time.strftime("%A, %B %d, %Y")%> </td>
		<td class="hidemobile"> <%=event.date_and_time.strftime("%I:%M %p")%> to <%=(event.date_and_time+event.hours.hours+event.minutes.minutes).strftime("%I:%M %p")%></td>
		<td class="hidemobile"> <%= link_to event.organization, event.organization %></td>
	</tr>
<%end%>

<!--For Event/Show-->
<%if controller_name == 'events'&&action_name == 'show'%>
	<ul class="eventshow">
	<div class="showbox">
		<%if @event.image?%>
			<li><%= image_tag @event.image.url(:medium), :class => "showimage" %> </li>
		<%end%>
		<h1 class="showname"><%= @event.name %></h1>
		<li class="showdate"> <span>Date:</span> <%= @event.date_and_time.strftime("%A, %B %d, %Y") %></li>
		<li class="showtime showbigger"> <span>Time:</span><%=@event.date_and_time.strftime("%I:%M %p")%> to <%=(@event.date_and_time+@event.hours.hours+@event.minutes.minutes).strftime("%I:%M %p")%></li>
		<li class="showlocation showbigger"> <span> Location:</span> <%= @event.street %>, <%= @event.city_state %> <%= @event.zip %></li>
		<li class="showdescription showbigger"> <span> Description:</span> <%= @event.description %></li>
		<li class="showrequirement showbigger"> <span>Requirements:</span> <%= @event.requirements %></li>
		<li class="showorganization showbigger"> <span> Organization:</span> <%= link_to @event.organization, @event.organization%></li>
	</div>		
		
		<%if current_user&&@event.created_by==current_user.id%>
			<li class="attendance"> <span class="showbigger">Number of People Attending: </span> <%= @allusers.size %></li>
			<%@allusers.each do |user|%>
				<%=user.fname%> <%=user.lname%> | <%=user.email%> <br>

			<%end%>
		<%end%>
	</ul>
<%end%>


