<!--EVENTS/INDEX LIST VIEW-->
<div class='box'>
	<%=link_to (eventitems)  do%>
		<ul class="eventitem">
		
			
				<div class="eventbody">
					<%if eventitems.image?%>
						<li class="eventimage"> <%=image_tag eventitems.image.url(:medium)%> </li>
					<%end%>
					
					<li class="eventname"> <h3><%=eventitems.name%></h3> 
					</li>
					<li class="eventdate"> Date:
						<%=eventitems.date_and_time.strftime("%A, %B %d, %Y")%> 
					</li>
					<hr>
					<div class="biggerfont">
						<li class="event-date"> <span> Time:</span> <%=eventitems.date_and_time.strftime("%I:%M %p")%> to <%=(eventitems.date_and_time+eventitems.hours.hours+eventitems.minutes.minutes).strftime("%I:%M %p")%>
						</li>
						<li class="event-req"><span> Requirements:</span> <%=eventitems.requirements%>
						</li>
						<li class="event-org"> <span> Organization: </span> <%=eventitems.organization%>
						</li>
						<li class="event-location"><span>Location:</span> <%=eventitems.city_state%> </li>
					</div>

				</div>
			
		
			</ul>
			
	<%end%>

	<%if action_name=='createdevents'||(current_user&&action_name=='index'&&current_user.id==eventitems.created_by)%>
		<%= link_to "Delete", eventitems, method: :delete, :class=>"underpost" %> |
		<%= link_to "Edit", edit_event_path(eventitems), :class=>"underpost"%>
	<%elsif action_name=='myevents'%>
		<%=link_to "Unattend", unattend_path(:unattend=>eventitems.id), :class=>"underpost"%>
	

	<%end%>
</div>
