<!--EVENTS/INDEX LIST VIEW-->

<ul class="alleventitems transitions-enabled" id="event-box">
	<% @events.each do |event| %>
		<!--Only the most current events are displayed-->
		
		<%=link_to (event), class: 'box' do%>
			<ul class="eventitem">
				<div class="eventbody">
					<li class="eventname"> <h3><%=event.name%></h3> 
					</li>

					<li class="eventdate"> Date:
						<%=event.date_and_time.strftime("%A %B %d, %Y")%> 
					</li>
					<div class="biggerfont">
						<li class="event-date"> <span> Time:</span> <%=event.date_and_time.strftime("%I:%M %p")%> to <%=(event.date_and_time+event.hours.hours+event.minutes.minutes).strftime("%I:%M %p")%>
						</li>
						<li class="event-req"><span> Requirements:</span> <%=event.requirements%>
						</li>
						<li class="event-org"> <span> Organization: </span> <%=event.organization%>
						</li>
						<li class="event-location"><span>Location:</span> <%=event.city_state%> </li>
					</div>

				</div>
			</ul>
		<%end%>
		
	<%end%>
	
</ul>
<%=will_paginate @events%>