<!--EVENTS/INDEX TABLE-->

<table>
	<tbody>
		<tr class = "pretty">
			<th><%= sortable "name", "Event"%></th>
			<th><%= sortable "date_and_time", "Date and Time"%></th>
			<th class="hidemobile"><%=sortable "city_state", "Location"%></th>
			<th class="hidemobile">Organization</th>
		</tr>
		<%= render partial: "events/partials/event", collection: @events %>
	</tbody>
</table>
<div class="paginate">
	<%=will_paginate @events%>
</div>