<%= form_for (@event) do |f| %>
	<div class="field">
		<%= f.label :category %><br>
		<%= f.select(:category, ["Charity", "Educational", "Assisting Those in Need", "Community Service", "Sports", "Medical"], prompt: true) %>
	</div>

	<div class="field">
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</div>

	<div class="field">
		<%= f.label :description %><br>
		<%= f.text_area :description %>
	</div>

	<div class="field">
		<%= f.label :requirements %><br>
		<%= f.text_field :requirements %>
	</div>

	<div class="field">
		<%= f.label :date_and_time %><br>
		<%= f.datetime_select :date_and_time %>
	</div>

	<div class="field">
		<%= f.label :duration %><br>
		<%= f.select(:hours, [1,2,3,4,5,6,7,8], prompt:"hours") %>
		<%= f.select(:minutes, [0,15,30,45], prompt:"minutes")%>
	</div>

	<div class="field-btn">
		<%= f.submit @event.new_record? ? "New Event" : "Create Event" %>
	</div>
<% end %>