<!--Create table of event for Myevents-->

<tr>
	<td> <%= link_to myevents.name, myevents %></td>
	<td> <%= myevents.date_and_time %></td>
	<td> <%= myevents.description %></td>
	<td> <%= myevents.requirements %></td>
	<td> <%= link_to myevents.organization, myevents.organization %></td>
	<td>
	<%if myevents.created_by == current_user.id%>
		<%= link_to "Delete", myevents, method: :delete %> <br>
		<%= link_to "Edit", edit_event_path(myevents)%> <br>
	<%end%>
		<%= link_to "Unattend", unattend_path(:unattend=>myevents.id)%>
	
	</td>
</tr>