<!DOCTYPE html>
<html>
<head>
  <title>VQuick | Let's Volunteer!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<body>
	
<!--Remove Navbar from Home Page-->
	<%unless controller_name == 'pages'&&action_name == 'home'%>
		<div class="header-fix">
			<%= render 'layouts/header'%>
		</div>
	<%end%>
	<p class="navbar-text pull-right"></p>

<!--Display Flash Notices-->
	<% [:notice, :alert].each do |level| %>
		<% if flash[level] %>
			<div class="flash <% level %> contentunderpull"> <%= flash[level] %> </div>
		<% end %>
	<% end %>


<!--Set Different Styling for Home Page-->
	<%if controller_name == 'pages'&&action_name == 'home'%>
		<div class="home">
			<%=yield%>
		</div> <!--The Yield-->
	<%elsif controller_name == 'events'&&(action_name == 'index'||action_name == 'myevents'||action_name == 'createdevents')%>
		<div class="contentunder">
			<%= yield %>  <!--The Yield-->
		</div>

	<%else%>
		<div class="container contentunderother"> 
			<%=yield%>
		</div>
	<%end%>

</body>
</html>
