<!DOCTYPE html>
<html>
<head>
  <title>Proj2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<body>
	<div class="header-fix">
		<%= render 'layouts/header'%>
	</div>
	<div class="container contentunder containbg">
		<% [:notice, :alert].each do |level| %>
			<% if flash[level] %>
				<div class="flash <% level %>"> <%= flash[level] %> </div>
			<% end %>
		<% end %>

	<div class="container contentunder containbg">

		<%= yield %>
	</div>
</body>
</html>
