<!DOCTYPE html>
<html>
<head>
  <title>VQuick | Let's Volunteer!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<body>
<div class="wrapper">

<!--Remove Navbar from Home Page-->
	<%unless controller_name == 'pages'&&action_name == 'home'%>
		<div class="header-fix">
			<%= render 'layouts/header'%>
		</div>
	<%end%>
	<p class="navbar-text pull-right"></p>



<!--Set Different Styling for Home Page-->
	<%if controller_name == 'pages'&&action_name == 'home'%>
		<div class="home">
			<%=render 'layouts/flashnote'%>
			<%=yield%>
		</div> <!--The Yield-->
	<%elsif controller_name == 'events'&&(action_name == 'index'||action_name == 'myevents'||action_name == 'createdevents')%>
		<div class="contentunder">
			<%=render 'layouts/flashnote'%>
			<%= yield %>  
		</div>

	<%else%>
		<div class="contentunderother"> 
			<%=render 'layouts/flashnote'%>
			<%=yield%> <!--The Yield-->
		</div>
	<%end%>

<div class="push"></div>
</div>

<div class="footer">
	<%if action_name!='home'%>
		<ul class="footer">
			
			<li class="copyright"> &#169; Tracy Tang and Sylvester Lan</li>
			<div class="footer-right">
				
				<li><%=link_to "Contact Us", pages_contact_path%></li> |
				<li><%=link_to "About Us", pages_contact_path%></li>
			</div>
		</ul>
	<%end%>
</div>
</body>
</html>
